.left-jobs-div {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.fav-btn {
  position: relative !important;
}
.barge-fav {
  position: absolute !important;
  top: -6px !important;
  right: -6px !important;
  background-color: rgb(95, 95, 95) !important;
  margin-left: 5px !important;
}
.fav-job-li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.fav-btn-1 {
  position: fixed !important;
  bottom: 40px;
  right: 40px;
}
.barge-fav-1 {
  position: absolute !important;
  top: -6px !important;
  right: -6px !important;
  background-color: rgb(95, 95, 95) !important;
  margin-left: 5px !important;
}
